.trustedby{
    background-color: rgb(243, 243, 243);
    color: rgb(146, 146, 146);

    .container{
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 20px 0px;

        span{
            padding: 10px;
        }

    }
}