.gig{
    display: flex;
    justify-content: center;
    
    .container{
        width: 1200px;
        padding: 30px 0px;
        display: flex;
        gap: 50px;
        
        .left{
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .breadCrumbs{
                font-weight: 300;
                font-size: 13px;
                color: #555;
            }
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 32px;height: 32px;
                    border-radius: 50%;
                }
                span{
                    font-size: 13px;
                    font-weight: 500;
                }
                .stars{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    span{
                        font-size: 14px;
                        font-weight: bold;
                        color: rgb(255, 174, 0);
                    }
                }
            }
            .slider{
                img{
                    max-height: 400px;
                    object-fit: contain;                   
                }
            }

            h2{
                font-weight: 400;
                margin-bottom: 0px;
            }
            p{
                font-weight: 300;
                color: #555;
                line-height: 25px;
                margin: 0px;
            }
            .seller{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .user{
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .info{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        span{
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }
                    button{
                        background-color: white;
                        border-radius: 5px;
                        border: 1px solid gray;
                        padding: 10px;
                        cursor: pointer;
                    }
                }
                .box{
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    padding: 20px;
                    margin-top: 20px;
                    .items{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .item{
                            width: 300px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            margin-bottom: 20px;

                            .title{
                                font-weight: 100;
                                color: #555;

                            }
                        }

                    }
                    hr{
                        height: 0;
                        border: 1px solid lightgray;
                        margin-bottom: 20px;
                    }
                }
            }
            
        }
        .right{
            flex: 1;
            border: 1px solid lightgray;
            position: relative;
            position: sticky;
            top: 150px;
            height: max-content;
            max-height: 500px;
            padding: 10px;
            .price{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .details{
                .title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: bold;
                    .t-left{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 20px;
                    }

                }
                .features{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 20px;
                    color: gray;
                    .item{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
            }
            button{
                width: 100%;
                padding: 10px;
                border: none;
                background-color: green;
                color: white;
                cursor: pointer;
            }
            
        }
    }
}